/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #e9f5ec;
    color: #000000;
    padding: 1em 0;
    text-align: center;
}   

section{
    .nav-container
    display: flex;
    .nav-item
    padding-right: 8px;
}

#banner {
    background: url('travel.jfif') no-repeat center center/cover;
    height: 500px;
    width: 1000px;
    margin: 1em 0;
}

main {
    padding: 1em;
}

#packages {
    margin-bottom: 2em;
}

.package {
    background: #fff;
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
}

#inquiry {
    background: #fff;
    padding: 1em;
    border: 1px solid #ccc;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

button {
    background: #546ddd;
    color: #fff;
    padding: 0.7em 1.2em;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2962b8;
}